@import '../../node_modules/normalize.css/normalize.css';
@import '_variables.scss';

h1 {
  background-color: $primary-bgcolor;
  color: $primary-color;
  font-style: normal;
}

.special {
  display: flex;
  text-decoration: underline;
}

.background {
  background-image: url('../img/dan7.jpg');
  color: green;
  height: 100px;
  width: 100px;
}

.backgroundHi {
  background-image: url('../img/dan_yucatan.jpg');
  background-size: contain;
  color: green;
  height: 100px;
  width: 100px;
}
