$primary-color: black;
$primary-bgcolor: lightgrey;

@import 'reset';

h1 {
  color: $primary-color;
  background-color: $primary-bgcolor;
  font-style: normal;
}
.special {
  text-decoration: underline;
  display: flex;
}
.background {
  color: green;
  width: 100px;
  height: 100px;
  background-image: url('../img/dan7.jpg');
}
.backgroundHi {
  color: green;
  width: 100px;
  height: 100px;
  background-image: url('../img/dan_yucatan.jpg');
  background-size: contain;
}
