$primary_color: black;
$primary_bgcolor: whitesmoke;

@import 'reset';

h1 {
  color: $primary_color;
  background-color: $primary_bgcolor;
  font-style: normal;
}
.special {
  text-decoration: underline;
  display: flex;
}
.background {
  color: green;
  background-image: url('/img/dan7.jpg');
}