$primary_color: green;
$primary_bgcolor: whitesmoke;

@import 'reset';

h1 {
  color: $primary_color;
  background-color: $primary_bgcolor;
  font-style: normal;
}
.special {
  text-decoration: underline;
  display:flex;
}
.background {
  color: green;
  background-image: url("/dist/img/dan7.jpg");
}